body {
  background-color: #010409;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 18px;
  max-width: 80rem;
  margin: 0 auto;
  padding: 20px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 5px;
}

button {
  background-color: #0d1117;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

input {
  color: white;
  padding: 8px;
  background-color: #0d1117;
  border: none;
  border-radius: 5px;
}

a {
  color: #00aaff;
  text-decoration: none;
}

#container {
  margin: 20px;
  padding: 20px;
  flex-grow: 1;
  background-color: #010409;
  border: 1px solid #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 20px;
  padding-bottom: 10px;
}

h2 {
  padding-bottom: 10px;
}

.forum-category {
  background-color: #0c0e11;
  padding: 10px;
  margin-bottom: 20px;
}

.forum-category h2 {
  color: #ffffff;
  margin: 0;
}

.forum-category a {
  color: #00aaff;
}

.forum-category a:hover {
  color: #00ddff;
}

.glow {
  text-shadow: 0 0 10px #6a0dad, 0 0 20px #6a0dad, 0 0 30px #6a0dad;
}

footer {
  text-align: center;
  margin: 20px auto;
}

.navbar {
  background-color: #010409;
  padding: 10px;
}

.navbar-brand {
  color: #ffffff;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  background-color: #0d1117;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

.form-group textarea {
  height: 200px;
}

.form-group button {
  background-color: #0d1117;
  color: #ffffff;
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-text {
  margin-left: 5px;
}

.form-inline .form-control {
  width: 150px;
}

.btn-primary {
  background-color: #002aff;
  border-color: #002aff;
}

.btn-primary:hover {
  background-color: #004cff;
  border-color: #004cff;
}

.btn-light {
  color: #ffffff;
}

.btn-light:hover {
  background-color: #ffffff;
  color: #000000;
}

.black-background {
  background-color: black;
  width: 80px;
  height: 23px;
}

.textbox {
  background-color: black;
  width: 380px;
  height: 223px;
}

/* Custom styles */

.login-button {
  padding: 10px 20px !important;
}
