body {
  background-color: #010409;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #0d1117;
  color: #ffffff;
}
input{
  color: white;
}

#container {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  flex-grow: 1;
  background-color: #0d1117;
  border: 1px solid #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
  text-align: left;
  font-size: 16px;
  padding-bottom: 10px;
}

h2 {
  padding-bottom: 10px;
}

p {
  font-size: 12px;
}

.forum-category {
  background-color: #161b22;
  padding: 10px;
  margin-bottom: 20px;
}

.forum-category h2 {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
}

.forum-category a {
  color: #00aaff;
  text-decoration: none;
}

.forum-category a:hover {
  color: #00ddff;
}

.glow {
  text-shadow: 0 0 10px #6A0DAD, 0 0 20px #6A0DAD, 0 0 30px #6A0DAD;
}

footer {
  text-align: center;
  padding-top: 10px;
  bottom: 0;
  margin: 0 auto;
}

.navbar {
  background-color: #010409;
  font-size: 14px;
}

.navbar-brand {
  font-size: 12px;
  color: #ffffff;
}

.navbar-text {
  margin-left: -10px;
}

.form-inline .form-control {
  width: 150px;
  font-size: 12pt;
}

.btn-primary {
  background-color: #002aff;
  border-color: #002aff;
  font-size: 12pt;
}

.btn-primary:hover {
  background-color: #004cff;
  border-color: #004cff;
}

.btn-light {
  color: #ffffff;
  font-size: 12pt;
}

.btn-light:hover {
  background-color: #ffffff;
  color: #000000;
}

.black-background {
  background-color: black;
  font-size: 9pt;
  width: 100pt;
  height: 18px;
}

::placeholder {
  font-size: 10px;
}

/* Custom styles */

.login-button {
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
}
